.navbar-1 {
  background-color: #000;
  color:  #FB9E09;
  height: 50px;
}

.navbar-1 ul{
  list-style: none;
  margin: 0;
  float: right;
  padding-top: 10px;
  font-size: 1.2rem;
  padding-right: 40px;
}

.navbar-1 ul li{
  display: inline;
  padding: 10px 25px;
}

.navbar-1 ul li:hover{
  background-color:  #FB9E09;
  color: black;
  cursor: pointer;
}

.menu-hamburguesa{
 display: none;
 margin: 0;
}

#check{
  display: none;
}

@media only screen and (max-width: 996px) {

  .navbar-1 ul{
    display: none;
  }

  .navbar-1 .menu-hamburguesa{
    display: block;
    float: right;
    font-size: 25px;
    text-align: center;
    padding-top: 10px;
    padding-right: 15px;
    cursor: pointer;
  }

  #check:checked + ul.top-nav {
    display: block;
    width: 100%;
    background-color: #000;
  }

  #check:checked + ul.top-nav li {
    display: block;
    text-align: center;
  }


}



