<div class="navbar-1">
  <label for="check" class="menu-hamburguesa">
      <i class="fas fa-bars "></i>
  </label>
  <input type="checkbox" id="check">
  <ul class="top-nav">
      <li>Noticias</li>
      <li>Reseñas</li>
      <li>Guias</li>
      <li>Eventos</li>
      <li>Nosotros</li>
  </ul>
</div>
