<img src="assets/img/guate.png" class="img-fluid" alt="Responsive image">
    <div class="container">

        <section id="slider">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="assets/img/switch.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/img/arcade.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/img/arcade2.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/img/arcade3.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
        </section>


        <div class="mas-jugados">
            <h2> Juegos mas jugados </h2>
            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <img src="assets/img/amognUs.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Among Us</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <img src="assets/img/fallguys.png" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Fall Guys</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <img src="assets/img/cod.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Call of Duty</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ultimas-noticias">
            <h2> Ultimas Noticias </h2>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="inner">
                            <img src="assets/img/noticia1.jpg" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">Epic Games vs Apple</h5>
                          <p class="card-text">El juego ha sido retirado de la App Store de Apple, dejando a los usuarios de iOS y macOS sin poder actualizar a la muy esperada temporada 4. Sin embargo, este problema va mucho más allá de una simple disputa dentro del videojuego</p>
                          <button class="boton"> Leer </button>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="inner">
                            <img src="assets/img/GothamKnights.jpg" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">Gotham Knights</h5>
                          <p class="card-text">El juego se desarrollará en Ciudad Gótica, pero en esta ocasión, Batman no será el protagonista ya que está muerto. Será turno de Batgirl, Robin, Nightwing y Red Hood; para convertirse en los nuevos héroes.</p>
                          <button class="boton"> Leer </button>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 35px;">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="inner">
                            <img src="assets/img/squad.jpg" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">Suicide Squad: Kill the Justice League</h5>
                          <p class="card-text">llega en 2022 y saldrá solo para la nueva generación de consolas (PC, PS5 y Xbox Series X). Se ambienta en el mismo universo que la saga Batman: Arkham (incluso continúa su historia), pero no tiene lugar en Gotham, sino en la ciudad de Metrópolis.</p>
                          <button class="boton"> Leer </button>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="inner">
                            <img src="assets/img/cod1.jpg" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">Call of Duty Black Ops Cold War</h5>
                          <p class="card-text">Es la entrega del FPS bélico de Activision en 2020. Se trata de un desarrollo conjunto de varios estudios.
                               Raven Software es responsable de la campaña y Beenox ha trabajado en la versión de PC. Está ambientado durante la Guerra Fría</p>
                          <button class="boton"> Leer </button>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="analisis">
            <h2>Reseñas</h2>
            <div class="row">
                <div class="col-sm-3">
                    <div class="card">
                        <img src="assets/img/warcraft.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">World of Warcraft</h5>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <img src="assets/img/spiderman.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Spiderman</h5>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <img src="assets/img/gtav.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">GTA V</h5>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <img src="assets/img/lastus.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">The Last Of Us</h5>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="guias">
            <h2>Guías</h2>
            <div class="row">
                <div class="col-sm-8">
                    <img src="assets/img/thelast.png" class="card-img-top" alt="...">
                </div>
                <div class="col-sm-4">
                    <h3> GUIA 1 </h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui voluptates accusamus aperiam voluptatem non cupiditate, incidunt doloremque atque veritatis numquam voluptatibus blanditiis ea commodi facilis.</p>
                    <button class="boton"> Leer </button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <h3> WORLD OF WARCRAFT: PRIMEROS PASOS EN UN MUNDO GIGANTESCO </h3>
                    <P>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus labore repellat tempora fugit sit beatae quidem, saepe facilis ipsum doloremque, quam dolore amet a rem.</P>
                    <button class="boton">Leer</button>
                </div>
                <div class="col-sm-8">
                    <img src="assets/img/world.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <img src="assets/img/cod2.jpg" class="card-img-top" alt="...">
                </div>
                <div class="col-sm-4">
                    <h3> Guía de Call of Duty: Modern Warfare, trucos, consejos y secretos </h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui voluptates accusamus aperiam voluptatem non cupiditate, incidunt doloremque atque veritatis numquam voluptatibus blanditiis ea commodi facilis.</p>
                    <button class="boton"> Leer </button>
                </div>
            </div>
        </div>
    </div>
