.container h2{

  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 2.8rem;
  color:  #7C7D83;
}

.boton{
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
  padding: 10px 30px;
  background-color: white;
  border: 1px solid #FB9E09;
  margin-bottom: 5px;
  border-radius: 5px;
}

.boton:hover{
  background-color: #FB9E09;
  color: white;
}

#slider{
  margin-top: 45px;
}

.mas-jugados .card:hover{

  box-shadow: 5px 5px 20px  rgba(0,0,0,0.4);
  transform: translateY(-3%);
}

.analisis.card:hover{

  box-shadow: 5px 5px 20px  rgba(0,0,0,0.4);
  transform: translateY(-3%);
}

.mas-jugados .card-title  {

  text-align: center;
  margin-top: 25px;
  font-size: 1.8rem;
}

.analisis .card-title{
  text-align: center;
  margin-top: 25px;
  font-size: 1.8rem;
}

.ultimas-noticias .inner{
  overflow: hidden;
}

.ultimas-noticias .inner img{
  transition: all 1.5s ease;
}

.ultimas-noticias .inner:hover img{
  transform: scale(1.5);
}

.guias h3{
  font-size: 2.2rem;
  text-align: center;
  padding: 15px;
}

.guias h3:hover{
  color:  #FB9E09;
  cursor: pointer;
}

.guias .row{
  margin-bottom: 50px;
}
