<footer>
  <div class="row">
      <div class="col-sm-4">
          <h4>Quiénes <span>Somos</span></h4>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus quibusdam, totam doloribus corrupti corporis voluptatem harum? Deserunt dolore labore unde. Mollitia optio vel et ratione.</p>
      </div>
      <div class="col-sm-4">
          <h4>Qué <span>Hacemos</span></h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet non ullam adipisci facere odit consequatur in tempora qui! Maxime, exercitationem.</p>
      </div>
      <div class="col-sm-4">
          <h4>Contacto</h4>
          <h5>contacto@guategamin.com</h5>
      </div>
  </div>

  <div class="redes-sociales">
      <div class="row text-center">
          <div class="col-sm-2">
              <img src="assets/img/facebook.png" alt="">
              <h6>Facebook</h6>
          </div>
          <div class="col-sm-2">
              <img src="assets/img/twitter.png" alt="">
              <h6>Twitter</h6>
          </div>
          <div class="col-sm-2">
              <img src="assets/img/youtube.png" alt="">
              <h6>YouTube</h6>
          </div>
          <div class="col-sm-2">
              <img src="assets/img/twitch.png"  alt="">
              <h6>Twitch</h6>
          </div>
          <div class="col-sm-2">
              <img src="assets/img/discord.png" alt="">
              <h6>Discord</h6>
          </div>
          <div class="col-sm-2">
              <img src="assets/img/facebook.png"  alt="">
              <h6>Facebook</h6>
          </div>
      </div>
  </div>

  <div class="row">
      <div class="col-sm-12 text-center ">
           <h6> &copy; Todos los derechos reservados | Carlos Menchu </h6>
      </div>
  </div>
</footer>
