footer{

  background-color: #000;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

footer h4 {
  text-align: center;
  color: white;
}

footer h4 span {
  color:  #FB9E09;
}

footer p {
  color: #F0C55C;
}

footer h5{
  text-align: center;
  color: #FB9E09;
}


footer .text-center h6{
  color:#FB9E09;
}

footer .col-sm-2 h6{
  color: white;
  margin-top: 15px;
}

footer .col-sm-2 h6:hover{
  color: #FB9E09;
  cursor: pointer;
}


.redes-sociales{
  margin-top: 35px;
  margin-bottom: 25px;


}

.redes-sociales img{
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
